SECRET_KEY=change-me-to-a-long-random-string

DATABASE_URL=sqlite:///shadow_hunter.db

TOR_PROXY=socks5://127.0.0.1:9050
TOR_CONTROL_HOST=127.0.0.1
TOR_CONTROL_PORT=9051

VIRUSTOTAL_API_KEY=22826b730d569a1e63a05d15b54cdcf6df33e2d55db497885538a3d4217dd468
ABUSEIPDB_API_KEY=41813893c914afdfca45ddebe0ba1f30e8bb344f67209e5b11c6ef2fdbbe08bc39d0049b28a61048

SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
ALERT_EMAIL=

WEBHOOK_URL=

DEMO_MODE=false
